/* grid component */
.aem-Grid {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 0 auto;
    /* Centering the grid container */
    max-width: 1920px;
    /* Maximum width for desktop viewports */
    padding: 0 72px;
    /* Left and right margin for desktop viewports */
}

/* placeholder for new components */
.aem-Grid-newComponent {
    margin: 0;
}

/* column of a grid */
.aem-GridColumn {
    box-sizing: border-box;
}

/* force showing hidden */
.aem-GridShowHidden>.aem-Grid>.aem-GridColumn {
    display: block !important;
}

/* default breakpoint */
.aem-Grid {
    width: auto;
}

.aem-Grid.aem-Grid--1>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 100%;
}

.aem-Grid.aem-Grid--1>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--1>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--default--1>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 100%;
}

.aem-Grid.aem-Grid--default--1>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--default--1>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 50%;
}

.aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 100%;
}

.aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 50%;
}

.aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--default--2>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 50%;
}

.aem-Grid.aem-Grid--default--2>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 100%;
}

.aem-Grid.aem-Grid--default--2>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--default--2>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 50%;
}

.aem-Grid.aem-Grid--default--2>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 33.3333333333%;
}

.aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 66.6666666667%;
}

.aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 100%;
}

.aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 33.3333333333%;
}

.aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 66.6666666667%;
}

.aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--default--3>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 33.3333333333%;
}

.aem-Grid.aem-Grid--default--3>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 66.6666666667%;
}

.aem-Grid.aem-Grid--default--3>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 100%;
}

.aem-Grid.aem-Grid--default--3>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--default--3>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 33.3333333333%;
}

.aem-Grid.aem-Grid--default--3>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 66.6666666667%;
}

.aem-Grid.aem-Grid--default--3>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 25%;
}

.aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 50%;
}

.aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 75%;
}

.aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 100%;
}

.aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 25%;
}

.aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 50%;
}

.aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 75%;
}

.aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--default--4>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 25%;
}

.aem-Grid.aem-Grid--default--4>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 50%;
}

.aem-Grid.aem-Grid--default--4>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 75%;
}

.aem-Grid.aem-Grid--default--4>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 100%;
}

.aem-Grid.aem-Grid--default--4>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--default--4>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 25%;
}

.aem-Grid.aem-Grid--default--4>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 50%;
}

.aem-Grid.aem-Grid--default--4>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 75%;
}

.aem-Grid.aem-Grid--default--4>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 20%;
}

.aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 40%;
}

.aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 60%;
}

.aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 80%;
}

.aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 100%;
}

.aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 20%;
}

.aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 40%;
}

.aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 60%;
}

.aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 80%;
}

.aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--default--5>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 20%;
}

.aem-Grid.aem-Grid--default--5>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 40%;
}

.aem-Grid.aem-Grid--default--5>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 60%;
}

.aem-Grid.aem-Grid--default--5>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 80%;
}

.aem-Grid.aem-Grid--default--5>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 100%;
}

.aem-Grid.aem-Grid--default--5>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--default--5>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 20%;
}

.aem-Grid.aem-Grid--default--5>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 40%;
}

.aem-Grid.aem-Grid--default--5>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 60%;
}

.aem-Grid.aem-Grid--default--5>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 80%;
}

.aem-Grid.aem-Grid--default--5>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 16.6666666667%;
}

.aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 33.3333333333%;
}

.aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 50%;
}

.aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 66.6666666667%;
}

.aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 83.3333333333%;
}

.aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--default--6 {
    width: 100%;
}

.aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 16.6666666667%;
}

.aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 33.3333333333%;
}

.aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 50%;
}

.aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 66.6666666667%;
}

.aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 83.3333333333%;
}

.aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--offset--default--6 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--default--6>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 16.6666666667%;
}

.aem-Grid.aem-Grid--default--6>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 33.3333333333%;
}

.aem-Grid.aem-Grid--default--6>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 50%;
}

.aem-Grid.aem-Grid--default--6>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 66.6666666667%;
}

.aem-Grid.aem-Grid--default--6>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 83.3333333333%;
}

.aem-Grid.aem-Grid--default--6>.aem-GridColumn.aem-GridColumn--default--6 {
    width: 100%;
}

.aem-Grid.aem-Grid--default--6>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--default--6>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 16.6666666667%;
}

.aem-Grid.aem-Grid--default--6>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 33.3333333333%;
}

.aem-Grid.aem-Grid--default--6>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 50%;
}

.aem-Grid.aem-Grid--default--6>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 66.6666666667%;
}

.aem-Grid.aem-Grid--default--6>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 83.3333333333%;
}

.aem-Grid.aem-Grid--default--6>.aem-GridColumn.aem-GridColumn--offset--default--6 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 14.2857142857%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 28.5714285714%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 42.8571428571%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 57.1428571429%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 71.4285714286%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--default--6 {
    width: 85.7142857143%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--default--7 {
    width: 100%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 14.2857142857%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 28.5714285714%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 42.8571428571%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 57.1428571429%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 71.4285714286%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--default--6 {
    margin-left: 85.7142857143%;
}

.aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--default--7 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 14.2857142857%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 28.5714285714%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 42.8571428571%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 57.1428571429%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 71.4285714286%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--default--6 {
    width: 85.7142857143%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--default--7 {
    width: 100%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 14.2857142857%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 28.5714285714%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 42.8571428571%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 57.1428571429%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 71.4285714286%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--offset--default--6 {
    margin-left: 85.7142857143%;
}

.aem-Grid.aem-Grid--default--7>.aem-GridColumn.aem-GridColumn--offset--default--7 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 12.5%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 25%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 37.5%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 50%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 62.5%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--default--6 {
    width: 75%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--default--7 {
    width: 87.5%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--default--8 {
    width: 100%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 12.5%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 25%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 37.5%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 50%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 62.5%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--default--6 {
    margin-left: 75%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--default--7 {
    margin-left: 87.5%;
}

.aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--default--8 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 12.5%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 25%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 37.5%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 50%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 62.5%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--default--6 {
    width: 75%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--default--7 {
    width: 87.5%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--default--8 {
    width: 100%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 12.5%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 25%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 37.5%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 50%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 62.5%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--offset--default--6 {
    margin-left: 75%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--offset--default--7 {
    margin-left: 87.5%;
}

.aem-Grid.aem-Grid--default--8>.aem-GridColumn.aem-GridColumn--offset--default--8 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 11.1111111111%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 22.2222222222%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 33.3333333333%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 44.4444444444%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 55.5555555556%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--default--6 {
    width: 66.6666666667%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--default--7 {
    width: 77.7777777778%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--default--8 {
    width: 88.8888888889%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--default--9 {
    width: 100%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 11.1111111111%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 22.2222222222%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 33.3333333333%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 44.4444444444%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 55.5555555556%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--offset--default--6 {
    margin-left: 66.6666666667%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--offset--default--7 {
    margin-left: 77.7777777778%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--offset--default--8 {
    margin-left: 88.8888888889%;
}

.aem-Grid.aem-Grid--9>.aem-GridColumn.aem-GridColumn--offset--default--9 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 11.1111111111%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 22.2222222222%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 33.3333333333%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 44.4444444444%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 55.5555555556%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--default--6 {
    width: 66.6666666667%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--default--7 {
    width: 77.7777777778%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--default--8 {
    width: 88.8888888889%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--default--9 {
    width: 100%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 11.1111111111%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 22.2222222222%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 33.3333333333%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 44.4444444444%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 55.5555555556%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--offset--default--6 {
    margin-left: 66.6666666667%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--offset--default--7 {
    margin-left: 77.7777777778%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--offset--default--8 {
    margin-left: 88.8888888889%;
}

.aem-Grid.aem-Grid--default--9>.aem-GridColumn.aem-GridColumn--offset--default--9 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 10%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 20%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 30%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 40%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 50%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--default--6 {
    width: 60%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--default--7 {
    width: 70%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--default--8 {
    width: 80%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--default--9 {
    width: 90%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--default--10 {
    width: 100%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 10%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 20%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 30%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 40%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 50%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--offset--default--6 {
    margin-left: 60%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--offset--default--7 {
    margin-left: 70%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--offset--default--8 {
    margin-left: 80%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--offset--default--9 {
    margin-left: 90%;
}

.aem-Grid.aem-Grid--10>.aem-GridColumn.aem-GridColumn--offset--default--10 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 10%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 20%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 30%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 40%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 50%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--6 {
    width: 60%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--7 {
    width: 70%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--8 {
    width: 80%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--9 {
    width: 90%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--10 {
    width: 100%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 10%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 20%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 30%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 40%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 50%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--offset--default--6 {
    margin-left: 60%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--offset--default--7 {
    margin-left: 70%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--offset--default--8 {
    margin-left: 80%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--offset--default--9 {
    margin-left: 90%;
}

.aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--offset--default--10 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 9.0909090909%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 18.1818181818%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 27.2727272727%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 36.3636363636%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 45.4545454545%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--default--6 {
    width: 54.5454545455%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--default--7 {
    width: 63.6363636364%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--default--8 {
    width: 72.7272727273%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--default--9 {
    width: 81.8181818182%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--default--10 {
    width: 90.9090909091%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--default--11 {
    width: 100%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 9.0909090909%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 18.1818181818%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 27.2727272727%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 36.3636363636%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 45.4545454545%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--offset--default--6 {
    margin-left: 54.5454545455%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--offset--default--7 {
    margin-left: 63.6363636364%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--offset--default--8 {
    margin-left: 72.7272727273%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--offset--default--9 {
    margin-left: 81.8181818182%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--offset--default--10 {
    margin-left: 90.9090909091%;
}

.aem-Grid.aem-Grid--11>.aem-GridColumn.aem-GridColumn--offset--default--11 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 9.0909090909%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 18.1818181818%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 27.2727272727%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 36.3636363636%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 45.4545454545%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--default--6 {
    width: 54.5454545455%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--default--7 {
    width: 63.6363636364%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--default--8 {
    width: 72.7272727273%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--default--9 {
    width: 81.8181818182%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--default--10 {
    width: 90.9090909091%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--default--11 {
    width: 100%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 9.0909090909%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 18.1818181818%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 27.2727272727%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 36.3636363636%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 45.4545454545%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--offset--default--6 {
    margin-left: 54.5454545455%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--offset--default--7 {
    margin-left: 63.6363636364%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--offset--default--8 {
    margin-left: 72.7272727273%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--offset--default--9 {
    margin-left: 81.8181818182%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--offset--default--10 {
    margin-left: 90.9090909091%;
}

.aem-Grid.aem-Grid--default--11>.aem-GridColumn.aem-GridColumn--offset--default--11 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 8.3333333333%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 16.6666666667%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 25%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 33.3333333333%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 41.6666666667%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--6 {
    width: 50%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--7 {
    width: 58.3333333333%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--8 {
    width: 66.6666666667%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--9 {
    width: 75%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--10 {
    width: 83.3333333333%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--11 {
    width: 91.6666666667%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--12 {
    width: 100%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 8.3333333333%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 16.6666666667%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 25%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 33.3333333333%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 41.6666666667%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--offset--default--6 {
    margin-left: 50%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--offset--default--7 {
    margin-left: 58.3333333333%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--offset--default--8 {
    margin-left: 66.6666666667%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--offset--default--9 {
    margin-left: 75%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--offset--default--10 {
    margin-left: 83.3333333333%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--offset--default--11 {
    margin-left: 91.6666666667%;
}

.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--offset--default--12 {
    margin-left: 100%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--1 {
    width: 8.3333333333%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--2 {
    width: 16.6666666667%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--3 {
    width: 25%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--4 {
    width: 33.3333333333%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--5 {
    width: 41.6666666667%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--6 {
    width: 50%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--7 {
    width: 58.3333333333%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--8 {
    width: 66.6666666667%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--9 {
    width: 75%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--10 {
    width: 83.3333333333%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--11 {
    width: 91.6666666667%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--12 {
    width: 100%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-left: 0%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--offset--default--1 {
    margin-left: 8.3333333333%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 16.6666666667%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--offset--default--3 {
    margin-left: 25%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--offset--default--4 {
    margin-left: 33.3333333333%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--offset--default--5 {
    margin-left: 41.6666666667%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--offset--default--6 {
    margin-left: 50%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--offset--default--7 {
    margin-left: 58.3333333333%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--offset--default--8 {
    margin-left: 66.6666666667%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--offset--default--9 {
    margin-left: 75%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--offset--default--10 {
    margin-left: 83.3333333333%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--offset--default--11 {
    margin-left: 91.6666666667%;
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--offset--default--12 {
    margin-left: 100%;
}

@media (min-width: 1216px) {
    .aem-Grid>.aem-GridColumn.aem-GridColumn--default--hide {
        /* hide behavior */
        display: none;
    }
}

/* phone breakpoint */
@media (max-width: 767px) {
    .aem-Grid {
        /* 4-column layout for mobile viewports */
        padding: 0 16px;
        /* Left and right margin for mobile viewports */
    }

    .aem-Grid.aem-Grid--1>.aem-GridColumn.aem-GridColumn--phone--1 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--1>.aem-GridColumn.aem-GridColumn--offset--phone--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--1>.aem-GridColumn.aem-GridColumn--offset--phone--1 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--phone--1>.aem-GridColumn.aem-GridColumn--phone--1 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--phone--1>.aem-GridColumn.aem-GridColumn--offset--phone--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--phone--1>.aem-GridColumn.aem-GridColumn--offset--phone--1 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--phone--1 {
        width: 50%;
    }

    .aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--phone--2 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--offset--phone--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--offset--phone--1 {
        margin-left: 50%;
    }

    .aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--offset--phone--2 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--phone--2>.aem-GridColumn.aem-GridColumn--phone--1 {
        width: 50%;
    }

    .aem-Grid.aem-Grid--phone--2>.aem-GridColumn.aem-GridColumn--phone--2 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--phone--2>.aem-GridColumn.aem-GridColumn--offset--phone--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--phone--2>.aem-GridColumn.aem-GridColumn--offset--phone--1 {
        margin-left: 50%;
    }

    .aem-Grid.aem-Grid--phone--2>.aem-GridColumn.aem-GridColumn--offset--phone--2 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--phone--1 {
        width: 33.3333333333%;
    }

    .aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--phone--2 {
        width: 66.6666666667%;
    }

    .aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--phone--3 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--offset--phone--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--offset--phone--1 {
        margin-left: 33.3333333333%;
    }

    .aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--offset--phone--2 {
        margin-left: 66.6666666667%;
    }

    .aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--offset--phone--3 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--phone--3>.aem-GridColumn.aem-GridColumn--phone--1 {
        width: 33.3333333333%;
    }

    .aem-Grid.aem-Grid--phone--3>.aem-GridColumn.aem-GridColumn--phone--2 {
        width: 66.6666666667%;
    }

    .aem-Grid.aem-Grid--phone--3>.aem-GridColumn.aem-GridColumn--phone--3 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--phone--3>.aem-GridColumn.aem-GridColumn--offset--phone--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--phone--3>.aem-GridColumn.aem-GridColumn--offset--phone--1 {
        margin-left: 33.3333333333%;
    }

    .aem-Grid.aem-Grid--phone--3>.aem-GridColumn.aem-GridColumn--offset--phone--2 {
        margin-left: 66.6666666667%;
    }

    .aem-Grid.aem-Grid--phone--3>.aem-GridColumn.aem-GridColumn--offset--phone--3 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--phone--1 {
        width: 25%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--phone--2 {
        width: 50%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--phone--3 {
        width: 75%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--phone--4 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--phone--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--phone--1 {
        margin-left: 25%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--phone--2 {
        margin-left: 50%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--phone--3 {
        margin-left: 75%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--phone--4 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--phone--4>.aem-GridColumn.aem-GridColumn--phone--1 {
        width: 25%;
    }

    .aem-Grid.aem-Grid--phone--4>.aem-GridColumn.aem-GridColumn--phone--2 {
        width: 50%;
    }

    .aem-Grid.aem-Grid--phone--4>.aem-GridColumn.aem-GridColumn--phone--3 {
        width: 75%;
    }

    .aem-Grid.aem-Grid--phone--4>.aem-GridColumn.aem-GridColumn--phone--4 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--phone--4>.aem-GridColumn.aem-GridColumn--offset--phone--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--phone--4>.aem-GridColumn.aem-GridColumn--offset--phone--1 {
        margin-left: 25%;
    }

    .aem-Grid.aem-Grid--phone--4>.aem-GridColumn.aem-GridColumn--offset--phone--2 {
        margin-left: 50%;
    }

    .aem-Grid.aem-Grid--phone--4>.aem-GridColumn.aem-GridColumn--offset--phone--3 {
        margin-left: 75%;
    }

    .aem-Grid.aem-Grid--phone--4>.aem-GridColumn.aem-GridColumn--offset--phone--4 {
        margin-left: 100%;
    }

    .aem-Grid>.aem-GridColumn.aem-GridColumn--phone--hide {
        /* hide behavior */
        display: none;
    }
}

/* tablet breakpoint */
@media (min-width: 768px) and (max-width: 1215px) {
    .aem-Grid {
        /* 8-column layout for tablet viewports */
        padding: 0 32px;
        /* Left and right margin for tablet viewports */
    }

    .aem-Grid.aem-Grid--1>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--1>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--1>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--tablet--1>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--tablet--1>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--tablet--1>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 50%;
    }

    .aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--tablet--2 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 50%;
    }

    .aem-Grid.aem-Grid--2>.aem-GridColumn.aem-GridColumn--offset--tablet--2 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--tablet--2>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 50%;
    }

    .aem-Grid.aem-Grid--tablet--2>.aem-GridColumn.aem-GridColumn--tablet--2 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--tablet--2>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--tablet--2>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 50%;
    }

    .aem-Grid.aem-Grid--tablet--2>.aem-GridColumn.aem-GridColumn--offset--tablet--2 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 33.3333333333%;
    }

    .aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--tablet--2 {
        width: 66.6666666667%;
    }

    .aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--tablet--3 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 33.3333333333%;
    }

    .aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--offset--tablet--2 {
        margin-left: 66.6666666667%;
    }

    .aem-Grid.aem-Grid--3>.aem-GridColumn.aem-GridColumn--offset--tablet--3 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--tablet--3>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 33.3333333333%;
    }

    .aem-Grid.aem-Grid--tablet--3>.aem-GridColumn.aem-GridColumn--tablet--2 {
        width: 66.6666666667%;
    }

    .aem-Grid.aem-Grid--tablet--3>.aem-GridColumn.aem-GridColumn--tablet--3 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--tablet--3>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--tablet--3>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 33.3333333333%;
    }

    .aem-Grid.aem-Grid--tablet--3>.aem-GridColumn.aem-GridColumn--offset--tablet--2 {
        margin-left: 66.6666666667%;
    }

    .aem-Grid.aem-Grid--tablet--3>.aem-GridColumn.aem-GridColumn--offset--tablet--3 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 25%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--tablet--2 {
        width: 50%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--tablet--3 {
        width: 75%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--tablet--4 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 25%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--tablet--2 {
        margin-left: 50%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--tablet--3 {
        margin-left: 75%;
    }

    .aem-Grid.aem-Grid--4>.aem-GridColumn.aem-GridColumn--offset--tablet--4 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--tablet--4>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 25%;
    }

    .aem-Grid.aem-Grid--tablet--4>.aem-GridColumn.aem-GridColumn--tablet--2 {
        width: 50%;
    }

    .aem-Grid.aem-Grid--tablet--4>.aem-GridColumn.aem-GridColumn--tablet--3 {
        width: 75%;
    }

    .aem-Grid.aem-Grid--tablet--4>.aem-GridColumn.aem-GridColumn--tablet--4 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--tablet--4>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--tablet--4>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 25%;
    }

    .aem-Grid.aem-Grid--tablet--4>.aem-GridColumn.aem-GridColumn--offset--tablet--2 {
        margin-left: 50%;
    }

    .aem-Grid.aem-Grid--tablet--4>.aem-GridColumn.aem-GridColumn--offset--tablet--3 {
        margin-left: 75%;
    }

    .aem-Grid.aem-Grid--tablet--4>.aem-GridColumn.aem-GridColumn--offset--tablet--4 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 20%;
    }

    .aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--tablet--2 {
        width: 40%;
    }

    .aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--tablet--3 {
        width: 60%;
    }

    .aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--tablet--4 {
        width: 80%;
    }

    .aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--tablet--5 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 20%;
    }

    .aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--offset--tablet--2 {
        margin-left: 40%;
    }

    .aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--offset--tablet--3 {
        margin-left: 60%;
    }

    .aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--offset--tablet--4 {
        margin-left: 80%;
    }

    .aem-Grid.aem-Grid--5>.aem-GridColumn.aem-GridColumn--offset--tablet--5 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--tablet--5>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 20%;
    }

    .aem-Grid.aem-Grid--tablet--5>.aem-GridColumn.aem-GridColumn--tablet--2 {
        width: 40%;
    }

    .aem-Grid.aem-Grid--tablet--5>.aem-GridColumn.aem-GridColumn--tablet--3 {
        width: 60%;
    }

    .aem-Grid.aem-Grid--tablet--5>.aem-GridColumn.aem-GridColumn--tablet--4 {
        width: 80%;
    }

    .aem-Grid.aem-Grid--tablet--5>.aem-GridColumn.aem-GridColumn--tablet--5 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--tablet--5>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--tablet--5>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 20%;
    }

    .aem-Grid.aem-Grid--tablet--5>.aem-GridColumn.aem-GridColumn--offset--tablet--2 {
        margin-left: 40%;
    }

    .aem-Grid.aem-Grid--tablet--5>.aem-GridColumn.aem-GridColumn--offset--tablet--3 {
        margin-left: 60%;
    }

    .aem-Grid.aem-Grid--tablet--5>.aem-GridColumn.aem-GridColumn--offset--tablet--4 {
        margin-left: 80%;
    }

    .aem-Grid.aem-Grid--tablet--5>.aem-GridColumn.aem-GridColumn--offset--tablet--5 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 16.6666666667%;
    }

    .aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--tablet--2 {
        width: 33.3333333333%;
    }

    .aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--tablet--3 {
        width: 50%;
    }

    .aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--tablet--4 {
        width: 66.6666666667%;
    }

    .aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--tablet--5 {
        width: 83.3333333333%;
    }

    .aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--tablet--6 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 16.6666666667%;
    }

    .aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--offset--tablet--2 {
        margin-left: 33.3333333333%;
    }

    .aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--offset--tablet--3 {
        margin-left: 50%;
    }

    .aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--offset--tablet--4 {
        margin-left: 66.6666666667%;
    }

    .aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--offset--tablet--5 {
        margin-left: 83.3333333333%;
    }

    .aem-Grid.aem-Grid--6>.aem-GridColumn.aem-GridColumn--offset--tablet--6 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--tablet--6>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 16.6666666667%;
    }

    .aem-Grid.aem-Grid--tablet--6>.aem-GridColumn.aem-GridColumn--tablet--2 {
        width: 33.3333333333%;
    }

    .aem-Grid.aem-Grid--tablet--6>.aem-GridColumn.aem-GridColumn--tablet--3 {
        width: 50%;
    }

    .aem-Grid.aem-Grid--tablet--6>.aem-GridColumn.aem-GridColumn--tablet--4 {
        width: 66.6666666667%;
    }

    .aem-Grid.aem-Grid--tablet--6>.aem-GridColumn.aem-GridColumn--tablet--5 {
        width: 83.3333333333%;
    }

    .aem-Grid.aem-Grid--tablet--6>.aem-GridColumn.aem-GridColumn--tablet--6 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--tablet--6>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--tablet--6>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 16.6666666667%;
    }

    .aem-Grid.aem-Grid--tablet--6>.aem-GridColumn.aem-GridColumn--offset--tablet--2 {
        margin-left: 33.3333333333%;
    }

    .aem-Grid.aem-Grid--tablet--6>.aem-GridColumn.aem-GridColumn--offset--tablet--3 {
        margin-left: 50%;
    }

    .aem-Grid.aem-Grid--tablet--6>.aem-GridColumn.aem-GridColumn--offset--tablet--4 {
        margin-left: 66.6666666667%;
    }

    .aem-Grid.aem-Grid--tablet--6>.aem-GridColumn.aem-GridColumn--offset--tablet--5 {
        margin-left: 83.3333333333%;
    }

    .aem-Grid.aem-Grid--tablet--6>.aem-GridColumn.aem-GridColumn--offset--tablet--6 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 14.2857142857%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--tablet--2 {
        width: 28.5714285714%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--tablet--3 {
        width: 42.8571428571%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--tablet--4 {
        width: 57.1428571429%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--tablet--5 {
        width: 71.4285714286%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--tablet--6 {
        width: 85.7142857143%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--tablet--7 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 14.2857142857%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--tablet--2 {
        margin-left: 28.5714285714%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--tablet--3 {
        margin-left: 42.8571428571%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--tablet--4 {
        margin-left: 57.1428571429%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--tablet--5 {
        margin-left: 71.4285714286%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--tablet--6 {
        margin-left: 85.7142857143%;
    }

    .aem-Grid.aem-Grid--7>.aem-GridColumn.aem-GridColumn--offset--tablet--7 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 14.2857142857%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--tablet--2 {
        width: 28.5714285714%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--tablet--3 {
        width: 42.8571428571%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--tablet--4 {
        width: 57.1428571429%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--tablet--5 {
        width: 71.4285714286%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--tablet--6 {
        width: 85.7142857143%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--tablet--7 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 14.2857142857%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--offset--tablet--2 {
        margin-left: 28.5714285714%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--offset--tablet--3 {
        margin-left: 42.8571428571%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--offset--tablet--4 {
        margin-left: 57.1428571429%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--offset--tablet--5 {
        margin-left: 71.4285714286%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--offset--tablet--6 {
        margin-left: 85.7142857143%;
    }

    .aem-Grid.aem-Grid--tablet--7>.aem-GridColumn.aem-GridColumn--offset--tablet--7 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 12.5%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--tablet--2 {
        width: 25%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--tablet--3 {
        width: 37.5%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--tablet--4 {
        width: 50%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--tablet--5 {
        width: 62.5%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--tablet--6 {
        width: 75%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--tablet--7 {
        width: 87.5%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--tablet--8 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 12.5%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--tablet--2 {
        margin-left: 25%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--tablet--3 {
        margin-left: 37.5%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--tablet--4 {
        margin-left: 50%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--tablet--5 {
        margin-left: 62.5%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--tablet--6 {
        margin-left: 75%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--tablet--7 {
        margin-left: 87.5%;
    }

    .aem-Grid.aem-Grid--8>.aem-GridColumn.aem-GridColumn--offset--tablet--8 {
        margin-left: 100%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--tablet--1 {
        width: 12.5%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--tablet--2 {
        width: 25%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--tablet--3 {
        width: 37.5%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--tablet--4 {
        width: 50%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--tablet--5 {
        width: 62.5%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--tablet--6 {
        width: 75%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--tablet--7 {
        width: 87.5%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--tablet--8 {
        width: 100%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--offset--tablet--0 {
        margin-left: 0%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--offset--tablet--1 {
        margin-left: 12.5%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--offset--tablet--2 {
        margin-left: 25%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--offset--tablet--3 {
        margin-left: 37.5%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--offset--tablet--4 {
        margin-left: 50%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--offset--tablet--5 {
        margin-left: 62.5%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--offset--tablet--6 {
        margin-left: 75%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--offset--tablet--7 {
        margin-left: 87.5%;
    }

    .aem-Grid.aem-Grid--tablet--8>.aem-GridColumn.aem-GridColumn--offset--tablet--8 {
        margin-left: 100%;
    }

    .aem-Grid>.aem-GridColumn.aem-GridColumn--tablet--hide {
        /* hide behavior */
        display: none;
    }
}

.aem-GridColumn {
    padding-left: 16px;
    /* Adjust gutter width for desktop viewports */
    padding-right: 16px;
    /* Adjust gutter width for desktop viewports */
}

.responsivegrid.aem-GridColumn.aem-GridColumn--default--16 {
    padding-left: 0;
    padding-right: 0;
}

.responsivegrid.aem-GridColumn.aem-GridColumn--default--16>.aem-GridColumn.aem-GridColumn--default--16 {
    padding-left: 0;
    padding-right: 0;
}